/* Global Styles */
:root {
   --green: #379514;
   --light-green:#65CA3F;
   --red: #C30B0B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

body {
    font-family: 'Poppins', sans-serif;
    background: #F0F1F5;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: min(90vw, 1200px);
    margin: auto;
}

/*Links & buttons */

.new-transaction {
    display: inline-block;
    text-decoration: none;
    color: var(--green);
    padding-left: 0.25rem;
    margin-bottom: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow:hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.btn-cancel {
    padding: 20px 0;
    background: none;
    border: 2px solid var(--red);
    border-radius: 4px;
    text-transform:uppercase;
    font-size:1rem;
    color: #C30B0B;
    cursor: pointer;
    width:180px;
    text-align: center;
    text-decoration: none;
    opacity: 0.6;
}

.btn-cancel:hover{
    opacity: 1;
}
.btn-salve {
    padding: 20px 0;
    background: var(--green);
    border: none;
    border-radius: 4px;
    text-transform:uppercase;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    width:180px;
    border: 2px solid var(--green);
}

.btn-salve:hover{
    background: var(--light-green)
}

/* Header Styles */

header {
    background: #0F2408;
}

header h1 {
    text-align: center;
    padding: 2rem 1rem 8rem 1rem;
}


/* Main Styles */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -5rem;
}

.cards h3 {
    font-size: 0.8rem;
    font-weight:normal;
}

.cards p {
    font-size: 2.25rem;
}

.incoming {
    width: 380px;
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.incoming p {
    color: #0E3400;
}

.expenses {
    width: 380px;
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.expenses p {
    color:#530000;
}

.total {
    width: 380px;
    background: var(--green);
    color: #fff;
    padding: 1.25rem;
    border-radius: 0.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.total.totalnegative {
    background: var(--red);
}

.text-incoming {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.text-expenses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.text-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#balance {
    padding-top: 2rem;
}

#data-table {
 width: 100%;
 border-spacing: 0 0.5rem;
 text-align: left;
}

#data-table {
    padding: 0 .8rem 0 .8rem;
}

thead tr th{
    padding: .5rem;
    border-radius: 0.25rem;
    background-color: #F0F1F5;
}

table th {
    font-weight: normal;
    color: #666666;
    font-size: 0.8rem;
    padding: 0 .8rem 0 .8rem;
}

table tr {
    vertical-align: middle;
    background-color: #fff;
    opacity: .6;
}
table tbody tr td img {
    vertical-align: middle;
}

table td {
    padding: .8rem .8rem;
}

table tr:hover{
    opacity: 1;
}

td.descript {
    color: #3D3D3D;
}
td.positive {
    color: #1E6703;
}
td.negative {
    color: #C30B0B;
}

td.data {
    color: #A3A3A3;
}

#data-table tbody img {
    cursor: pointer;
}

/* Modal Style */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility:visible;
}

.modal {
    padding: 20px;
    background: #F0F1F5;
    border-radius: .25rem;
	animation: fadeInDown 1.5s;
}

/* Form Styles */
.form h2 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.help {
    margin-left: 5px;
    opacity: 0.4;
}

.input-group {
    margin-top: .8rem;
}

.input-group input {
    width: 100%;
    height: 52px;
    padding: 20px 10px;
    border: none;
    border-radius: .25rem;
}

input[type="date"]{
    margin-top: 20px;
}

.input-group.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
}

/*Footer styles*/


footer p {
    padding-top: 2rem;
    text-align: center;
    color: #A3A3A3;
}

/* Animation */

@-webkit-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-400px);
        -moz-transform: translatey(-400px);
        -o-transform: translatey(-400px);
        transform: translatey(-400px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-400px);
        -moz-transform: translatey(-400px);
        -o-transform: translatey(-400px);
        transform: translatey(-400px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        -webkit-transform: translatey(-400px);
        -moz-transform: translatey(-400px);
        -o-transform: translatey(-400px);
        transform: translatey(-400px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}


/* Resposive */

@media(max-width: 866px) {
    .cards {
        display: block;
    }

    .incoming {
        width: 100%;
        margin-bottom: 20px;
    }

    .expenses {
        width: 100%;
        margin-bottom: 20px;
    }

    .total {
        width: 100%;
        margin-bottom: 20px;
    }

    @media (max-width:450px) {
        
    #data-table {
        display: block;
        overflow-x: auto;
    }
    }
}